[submodule "modules/alica-message-protos"]
	path = modules/alica-message-protos
	url = git@github.com:DiCoreSystems/alica-message-capnps.git
	branch = master-c++
[submodule "modules/capnzero"]
	path = modules/capnzero
	url = git@github.com:sst97/capnzero.git