[submodule "modules/alica-message-protos"]
	path = modules/alica-message-protos
	url = git@gitlab.com:uni-sst/alica-message-protos.git
	branch = master-c++
[submodule "modules/capnzero"]
	path = modules/capnzero
	url = git@github.com:sst97/capnzero.git
[submodule "modules/sawtooth-sdk-cxx"]
	path = modules/sawtooth-sdk-cxx
	url = git@github.com:hyperledger/sawtooth-sdk-cxx.git
